html, body {
    font-family: 'Nunito Sans', sans-serif;
}

img {
    border-radius: 50%;
    border: 10px solid #58A8F4;
    border-left-color: transparent;
    border-bottom-color: transparent;
    padding: 20px;
}

@media only screen and (max-width: 640px) {
    html, body {
     text-align: center;
   }
 }
