
body {
    font-family: 'Oxygen', sans-serif;
}
#headertext {
    text-align: left;
    font-size: 30px;
    margin-top: 150px;
    color: #C5BC8E;

}

#headertext h2 {
    font-size: 30px;
}
#headertext h2 span {
    font-weight: 600;
}

#headertext p {
    margin-top: -20px;
    font-size: 15px;
}

#work {
    margin-top: 100px;
    font-size:20px;
    color: #C5BC8E;
}

#about {
    margin-top: 100px;
    font-size:20px;
    color: #C5BC8E;
}

#contact {
    margin-top: 50px;
    text-align:right;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 400;
    margin-right: 20px;
    color: #C5BC8E;
}
#contact h1 {
    font-size: 20px;
}
#contact a {
    text-decoration: none;
}
#contact p {
    text-align: right;
    margin-left: 80%;
}

#contact i {
    margin-left: 70px;
    margin-right: 0px;
    color: #C5BC8E;
}

