
body {
    background: #ffffff;
    margin-left: 100px;
    margin-right: 20em;
    font-family: 'Source Sans Pro',sans-serif;
    
}
#logo {
    font-size: 2em;
    color: #7B3B3B;
    text-decoration: underline;
}

#header {
    font-size: 3em;
   color: #2A2829;
   margin-top: 6%;
   margin-left: 10%;
   text-align:  left;
   
}

#header span {
    text-decoration: underline;
}

#header p {
    font-size: 0.5em;
    margin-top: -40px;
}

#things {
    color: #668284;;
    margin-left: 10%;
}

#container {
    margin-top: 3em;
    overflow: hidden;
    margin: 10px;

}

#box:hover {
    background: rgba(185,215,217,0.5);
}
#box {
   width: 10em;
   padding-bottom: 10em;
   background: #b9d7d9;
   color: #FFF;
   position: relative;
   float: left;
   margin: 1em;
   border-radius: 1em;

}
#innerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    color: #ffffff;
    z-index: 0;
}
#innerContent p {
    margin-top: 0;
    position: fixed;
    text-align: justify;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #000000;
    opacity: 1;
    display: none;
    font-size: 1.7em;
    color: #493736;
}
#innerContent i {
    z-index: 0;
}

#box:hover p {
    display: block;
}

#about p{
    margin: 20px;
}